<div class="ui raised very padded text container segment">
  <div class="ui link cards">

    <div class="ui card">
      <div class="content">
        <div class="header">Cadastro de Projetos</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Descrição</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                  Cadastre e gerencie projetos. Cada projeto tem um controle de SLA, qual time e porcentagem de implementação de cada tarefa.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <a routerLink='/cadastro-projetos' class="ui button">Cadastrar Projeto</a>
      </div>
    </div>

    <div class="ui card">
      <div class="content">
        <div class="header">Cadastro de Usuários</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Descrição</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                  Cadastre e gerencie usuários. As informações para cadastro obrigatórias são nome, e-mail e tipo de acesso.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <a routerLink='/' class="ui button">Cadastrar Usuário</a>
      </div>
    </div>

  </div>
</div>