<div class="ui raised very padded text segment container">
    <h4 class="ui dividing header">Lista de Usuários</h4>
    <table class="ui fixed single line celled table">
    <thead>
        <tr><th>Nome</th>
        <th>Email</th>
        <th>Tipo de Acesso</th>
    </tr></thead>
    <tbody>
        <tr>
        <td>Douglas</td>
        <td>douglas.pires@live.com</td>
        <td>Total</td>
        </tr>
        <tr>
        <td>Leonardo</td>
        <td>leonardo.libra@tntbrasil.com.br</td>
        <td>Total</td>
        </tr>
        <tr>
        <td>Usuário Teste</td>
        <td>fulano@email.com</td>
        <td>Parcial</td>
        </tr>
    </tbody>
    </table>
</div>

<div class="ui raised very padded text segment container">
    <h4 class="ui dividing header">Lista de Usuários</h4>
    <table class="ui fixed single line celled table">
    <thead>
        <tr><th>Nome</th>
        <th>Email</th>
        <th>Tipo de Acesso</th>
    </tr></thead>
    <tbody *ngFor="let user of users">
        <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.accessType}}</td>
        </tr>
        <tr>
        <td>Leonardo</td>
        <td>leonardo.libra@tntbrasil.com.br</td>
        <td>Total</td>
        </tr>
        <tr>
        <td>Usuário Teste</td>
        <td>fulano@email.com</td>
        <td>Parcial</td>
        </tr>
    </tbody>
    </table>
</div>


<div class="ui raised very padded text segment container">
    <h4 class="ui dividing header">Cadastro de Usuários</h4>
    <form class="ui form">
        <div class="field">
            <label for="">Nome do Usuário</label>
            <input type="text" name="newUserName" value="" placeholder="Fulano Dee Tall">
        </div>
        <div class="field">
            <label for="">Email</label>
            <input type="text" name="newUserMail" value="" placeholder="fulano@deetall.com">
        </div>
        <div class="field">
            <label for="">Tipo de Acesso</label>
            <select name="" id="">
                <option value=""> Parcial</option>
                <option value=""> Total</option>
            </select> 
        </div>
        <button type="submit" class="ui button">Salvar Usuário</button>
    </form>
</div>
