<div class="ui raised very padded text segment container">
  <form class="ui form" #f="ngForm">
    <h4 class="ui dividing header">Cadastro de Projetos</h4>
    <div class="field">
      <label>Nome do Projeto</label>
      <div class="two fields">
        <div class="field">
          <input type="text" placeholder="Nome do Projeto" ngModel name="name">
        </div>
        <div class="field">
          <select class="ui fluid dropdown" ngModel name="team">
            <option value="Escolha o Time">Escolha o Time</option>
            <option value="Exec">Execução</option>
            <option value="Compras">Compras</option>
            <option value="Ops">Operações</option>
          </select>
        </div>
      </div>
    </div>
    <div class="fields">
      <div class="four wide field">
        <label>Saving Estimado</label>
        <input type="number" step="any" ngModel name="saving" placeholder="R$ 10.000,00">
      </div>
      <div class="five wide field">
        <label>Prazo Estimado</label>
        <input type="date" ngModel name="sla" placeholder="DD/MM/AAAA" value="">
      </div>
      <div class="four wide field">
        <label>Filial</label>
        <select class="ui fluid search dropdown" ngModel name="branch"> 
          <option value="">Filial</option>
          <option value="">ABC</option>
          <option value="">SBC</option>
        </select>
      </div>
    </div>

    <h4 class="ui dividing header">Observações</h4>
    <div class="field">
      <div class="field">
        <textarea ngModel name="obs"></textarea>
      </div>
    </div>

    <h4 class="ui dividing header">Progresso do projeto</h4>
    <h4 class="ui dividing header">{{ progressBarLabelValue }}</h4>

    <div class="ui field">
      <md-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </md-progress-bar>
    </div>

    <div> 
      <div  class="fix-task-padding" *ngFor="let task of tasks">
        <div class="ui checkbox">
          <input name="task" type="checkbox" (click)="toggleCheckboxes($event)">
          <label ngDefaultControl>{{task}}</label>
        </div>
        <button type="button" class="ui button right floated trash outline icon" (click)="removeTask(task, $event)"><i class="trash outline icon"></i></button>
      </div>
    </div>

    <div class="input-margin">
      <div *ngIf="thereIsTask" class="ui input">
        <input type="text" name="task" (keyup.enter)="addTask(f)" [(ngModel)]=task placeholder="Adicione a tarefa">
      </div>
    </div>

  </form>
  
  <button class="ui button right floated" type="submit" (click)="addProject(f)">Salvar</button>
  <button class="ui button" (click)="addTaskInput(f)">Adicionar Tarefas</button>
</div>

<div class="ui raised very padded text segment container">
<h4 class="ui diving header">Projetos Cadastrados</h4>
<div class="ui relaxed divided list">
  <div class="item" *ngFor="let project of projects | async">
    <i class="large tasks middle aligned icon"></i>
    <div class="content">
      <a class="header">{{ (project)?.name }}</a>
      <div class="description">O deve ser finalizado até {{ (project)?.sla }} na filial {{ (project)?.branch }} </div>
    </div>
    <button class="ui button right floated trash outline icon" (click)="removeProject(project)"><i class="trash outline icon"></i></button>
    <button class="ui button right floated" (click)="editProject(project)">Editar</button>
  </div>
</div>